@font-face {
  font-family: "CodecPro";
  src: url("../fonts/CodecPro-ExtraBold.woff") format("woff"),
  url("../fonts/CodecPro-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "CodecPro";
  src: url("../fonts/CodecPro-News.woff") format("woff"),
  url("../fonts/CodecPro-News.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "CodecPro";
  src: url("../fonts/CodecPro-Light.woff") format("woff"),
  url("../fonts/CodecPro-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff"),
  url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}