*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
textarea {
    outline: none;
}

button {
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

body {
    font-family: "CodecPro";
    font-weight: 600;
}

.container {
    max-width: 1680px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
}

.btn-gradient {
    background: #348be0;
    border-radius: 3px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffff;
    transition: background .2s ease;
    position: relative;
    overflow: hidden;

    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #348be0 0%, #20159e 100%);
        transition: transform .5s ease, opacity .6s ease;
        transform: translateX(0);
        opacity: 1;
    }

    &:hover::before {
        transform: translateX(101%);
        opacity: 0;
    }
}

.btn-default {
    background: #3c67ff;
    box-shadow: 0px 0px 20px #3b66ff;
    border-radius: 4px;
    line-height: 23px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.4s ease;
}

.btn-default:hover {
    box-shadow: none;
}

.btn-default:active {
    box-shadow: inset 0px 0px 10px #505050;
}

.checkbox {
    cursor: pointer;
}
