@media (max-width: 1500px) {
  .coaches {
    &__slide-inner {
      min-height: 820px;
    }

    &__poster {
      bottom: -30px;

      img {
        width: 570px;
        height: 850px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .header {
    padding-bottom: 25px;
    padding-top: 25px;

    &__bg {
      background-size: auto 82%;
    }

    &__title {
      font-size: 45px;
      margin-bottom: 90px;
    }

    &__title-column + &__title-column {
      margin-left: 130px;
    }

    &__content-btn {
      padding: 20px 26px 18px;
    }
  }

  .subscription {
    padding: 90px 0;

    &__title {
      margin-bottom: 50px;
    }

    &__inner {
      grid-template-columns: repeat(auto-fill, minmax(288px, 288px));
      gap: 30px 50px;
      max-width: 1100px;
    }

    &__item {
      min-height: 536px;
    }

    &__item-head {
      min-height: 184px;
      padding: 21px;
    }

    &__item-price {
      font-size: 53px;
      line-height: 46px;
    }

    &__item-price span {
      font-size: 19px;
      line-height: 16px;
    }

    &__item-time {
      font-size: 14px;
      line-height: 21px;
      padding: 5px 12px;
      margin-bottom: 16px;
    }

    &__item-body {
      padding: 20px 10px 10px;
    }

    &__item-title {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 10px;
      padding-left: 6px;
      margin-left: 5px;
      margin-bottom: 24px;
    }

    &__item-point {
      font-size: 12px;
      line-height: 18px;
      padding-left: 35px;
    }

    &__item-point::before {
      width: 17px;
      height: 17px;
      border-radius: 3px;
    }

    &__item-point + &__item-point {
      margin-top: 25px;
    }

    &__item-list {
      margin-bottom: 20px;
    }

    &__item-btn {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.08em;
      padding: 16px 25px;
    }
  }

  .title {
    font-size: 30px;
  }

  .trial {
    &__text {
      margin-bottom: 50px;
    }

    &__form-box {
      gap: 30px 40px;
    }
  }

  .advantages {
    padding-top: 90px;

    &__inner {
      align-items: flex-end;
      max-width: 1350px;
    }

    &__title {
      margin-bottom: 70px;
    }

    &__list {
      padding-bottom: 90px;
      padding-top: 0;
    }

    &__list-content {
      &::after {
        width: 80px;
        height: 80px;
        left: 18px;
      }

      &::before {
        width: 74px;
        height: 74px;
        left: 21px;
      }
    }

    &__list-item {
      padding-left: 155px;

      & + & {
        margin-top: 60px;
      }
    }

    &__list-item::before {
      width: 115px;
      font-size: 34px;
      line-height: 29px;
    }

    &__img img {
      width: 600px;
    }
  }

  .modal {
    &__inner {
      max-width: 525px;
    }

    &__box {
      min-height: 0;
      padding: 30px 25px;
    }

    &__title {
      font-size: 26px;
      line-height: 30px;
      margin: 0 auto 30px;
      max-width: 490px;

      &_thanks {
        margin-bottom: 15px;
      }
    }

    &__input {
      & + & {
        margin-top: 25px;
      }
    }

    &__checkbox {
      margin-top: 25px;
    }

    &__btn {
      margin-top: 25px;
    }
  }

  .coaches {
    padding-top: 90px;

    &__name {
      font-size: 22px;
      line-height: 26px;
    }
  }

  #map {
    height: 550px;
  }

  .map__content {
    padding-left: 100px;
    width: 535px;
  }

  .map .ymaps-2-1-78-controls__control {
    inset: 195px 15px auto auto !important;
  }

  .map .ymaps-2-1-78-zoom__button {
    width: 50px;
    height: 50px;
  }

  .map .ymaps-2-1-78-zoom__button .ymaps-2-1-78-zoom__icon {
    width: 28px;
    height: 28px;
  }

  .map .ymaps-2-1-78-zoom {
    width: 50px;
    height: 100px !important;
  }

  .map .ymaps-2-1-78-controls__control_toolbar .ymaps-2-1-78-float-button {
    width: 50px;
    height: 50px;
  }

  .map .ymaps-2-1-78-controls__control_toolbar .ymaps-2-1-78-float-button .ymaps-2-1-78-float-button-icon_icon_geolocation {
    width: 22px;
    height: 22px;
  }

  .map .ymaps-2-1-78-controls__toolbar {
    inset: 313px 15px auto auto !important;
  }

  .map__open svg {
    width: 17px;
    height: 30px;
  }
}

@media (max-width: 1366px) {
  .coaches {
    &__slide-inner {
      min-height: 750px;
    }

    &__socials {
      display: none;
    }
    &__poster {
      bottom: -100px;
      left: 0;
    }
  }

  #map {
    height: 450px;
  }

  .map {

    &__content {
      padding-bottom: 40px;
      padding-top: 50px;
    }

    &__order-title {
      font-size: 20px;
      line-height: 27px;
      max-width: 260px;
    }

    &__address {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    &__address-item {
      & + & {
        margin-top: 40px;
      }
    }
  }

  .map .ymaps-2-1-78-controls__control {
    inset: 167px 15px auto auto !important;
  }

  .map .ymaps-2-1-78-controls__toolbar {
    inset: 285px 15px auto auto !important;
  }

  .map__open {
    width: 55px;

    svg {
      width: 16px;
      height: 28px;
    }
  }
}

@media (max-width: 1250px) {
  .footer {
    &__copy {
      flex-direction: column;
    }

    &__copy-text {
      margin-top: 35px;
      text-align: center;
    }
  }

  .coaches {
    &__content {
      margin-right: 0;
      filter: none;
    }
  }
}

@media (max-width: 1150px) {
  .header {
    &__content {
      padding: 0;
    }

    &__title {
      flex-direction: column;
      text-align: center;
      margin-bottom: 30px;
    }

    &__title-column {
      &:first-child,
      &:last-child {
        animation: fadeIn;
      }
    }

    &__title-column + &__title-column {
      margin-left: 0;
      margin-top: 20px;
    }

    &__top-info {
      display: none;
    }
    
    &__socials {
      display: none;
    }

    &__addresses {
      display: none;
    }
    
    &__footer .locale {
      display: none;
    }
    
    .menu-btn {
      display: none;
    }

    .logo {
      margin-left: 0;
    }

    .mobile-btn {
      display: flex;
    }
  }
  
  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .coaches {
    padding-bottom: 90px;

    &__title {
      margin-bottom: 70px;
    }

    &__slide-inner {
      min-height: 0;
      padding: 102px 0 0;
    }

    &__content {
      margin-right: auto;
      padding-top: 120px;
    }

    &__poster {
      width: 200px;
      height: 200px;
      margin: auto;
      bottom: auto;
      top: 0;
      right: 0;
      border-radius: 50%;
      background: linear-gradient(271.77deg, #060911 1.24%, #121316 98.5%);
      border: 2px solid #EFF3F9;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: -82px;
        width: 330px;
        height: 500px;
      }
    }
  }
}

@media (max-width: 1120px) {
  .advantages {
    padding-bottom: 90px;
    
    &::before {
      display: none;
    }

    &__inner {
      justify-content: center;
    }
    
    &__img {
      display: none;
    }

    &__list {
      padding-bottom: 0;
    }
  }

  .map {
    &__content {
      padding-left: 35px;
      width: 425px;
    }
  }
}

@media (max-width: 1090px) {
  .footer {
    &__top {
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 0;
      max-width: 450px;
      margin: 0 auto;
      padding-bottom: 48px;
    }

    &__column {
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5) {
        width: 100%;
      }

      &:nth-child(3) {
        margin-left: 45px;
      }

      &:nth-child(5) {
        text-align: center;
      }

      & + & {
        margin-top: 60px;
      }
    }

    &__list-item {
      & + & {
        margin-top: 35px;
      }
    }

    .logo {
      justify-content: center;
      margin-top: 0;
    }

    &__messengers {
      flex-direction: row;
      justify-content: center;
    }

    &__messengers-item {
      & + & {
        margin-top: 0;
        margin-left: 45px;
      }
    }

  }
}

@media (max-width: 992px) {
  #map {
    display: none;
  }

  .map {
    background: #EFF3F9;
    padding: 90px 0;

    &__info {
      display: none;
    }

    &__bars {
      display: block;
    }

    &__title {
      margin-bottom: 65px;
    }

    &__bars-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bar {
      width: 325px;

      & + & {
        margin-top: 45px;
      }
    }

    &__bar-link {
      font-weight: 300;
      font-size: 18px;
      line-height: 19px;
      background-color: #EFF3F9;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 0px 0px 4px 4px;
      min-height: 62px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color .2s ease;

      &:hover {
        background-color: #f4f4f4;
      }
    }

    &__bar-taxi {
      .ya-taxi-widget {
        width: 325px;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

        &__content {
          &::before {
            border-radius: 4px 4px 0 0 !important;
          }
        }

        &__info-icon {
          display: none;
        }

        &__title {
          letter-spacing: 0.08em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 29px;
  }

  .subscription {
    padding: 55px 0;

    &__title {
      margin-bottom: 35px;
    }
  }

  .trial {
    padding: 55px 0;

    &__title {
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 32px;
    }

    &__form-box {
      margin-bottom: 50px;
      gap: 40px;
    }
  }

  .advantages {
    padding: 55px 0;

    &__title {
      margin-bottom: 60px;
    }
  }

  .footer {
    &__copy-links {
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    &__copy-link {
      & + & {
        margin-left: 0;
        margin-top: 35px;
      }
    }
  }

  .coaches {
    padding: 55px 0;
  }

  .map {
    padding: 55px 0;

    &__title {
      margin-bottom: 50px;
    }

    &__bar + &__bar {
      margin-top: 40px;
    }
  }
}

@media (max-width: 500px) {
  .logo img {
    max-width: 101px;
    height: 40px;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 48px;

    &__bg {
      right: -240px;
      background-size: auto 88%;
    }

    &__top {
      margin-bottom: 90px;
    }

    &__title {
      font-size: 40px;
      line-height: 60px;
      text-align: left;
      margin-bottom: 77px;
    }

    &__title-column + &__title-column {
      margin-top: 0;
    }

    &__content {
      align-self: flex-start;
      width: 100%;
    }

    &__content-btn {
      padding: 16px 42px;
    }

  }

  .btn {
    font-size: 16px;
  }

  .btn-default {
    line-height: 21px;
    letter-spacing: 0.08em;
  }

  .title {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }

  .subscription {
    padding: 32px 0;

    &__title {
      margin-bottom: 15px;
    }
  }

  .trial {
    padding: 32px 0;
    background-position: left center;

    &__title {
      margin-bottom: 16px;

      span {
        display: inline-block;
        width: 100%;
      }
    }

    &__text {
      letter-spacing: 0.04em;
      max-width: 288px;
      line-height: 24px;
    }

    &__form-box {
      grid-template-columns: repeat(auto-fill, minmax(288px, 288px));
    }

    &__btn {
      line-height: 21px;
      padding: 16px 31px;
    }
  }

  .input {
    font-size: 16px;
    line-height: 14px;
    padding: 15px 40px 15px 42px;
    letter-spacing: 0.08em;

    &-wrapper::before {
      left: 14px;
    }

    &-wrapper::after {
      width: 20px;
      height: 20px;
      background-size: 10px 9px;
      right: 10px;
    }

    &-name::before {
      width: 18px;
      height: 18px;
    }

    &-phone::before {
      width: 14px;
      height: 14px;
    }

    &-address::before {
      width: 14px;
      height: 17px;
    }
  }

  .advantages {
    padding: 32px 0;

    &__title {
      margin-bottom: 42px;
    }

    &__list-item {
      padding-left: 0;
      padding-right: 75px;

      & + & {
        margin-top: 32px;
      }

      &::before {
        width: 65px;
        font-size: 24px;
        line-height: 21px;
        left: auto;
        right: 0;
        top: 21px;
        transform: none;
      }

      &::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        background: linear-gradient(315deg, #BEC6CF -5%, rgba(189, 198, 207, 0) 100%);
        right: 10px;
        top: 9px;
        transform: rotate(135deg);
      }
    }

    &__list-title {
      font-size: 18px;
      line-height: 29px;
      padding-bottom: 3px;
      margin-bottom: 7px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% + 15px);
        height: 2px;
        background: linear-gradient(-90deg, #BDC6CF 3.64%, rgba(189, 198, 207, 0) 101.93%);
      }
    }

    &__list-text {
      font-size: 14px;
      line-height: 21px;
    }

    &__list-content {
      &::after {
        width: 45px;
        height: 45px;
        background: linear-gradient(270deg, #E20002 0%, #1089FF 100%);
        left: auto;
        right: 10px;
        top: 9px;
        bottom: auto;
      }

      &::before {
        width: 39px;
        height: 39px;
        border: 3px solid #eff3f9;
        left: auto;
        right: 13px;
        top: 12px;
        bottom: auto;
      }
    }
  }

  .footer {
    padding: 30px 0;
    font-size: 16px;

    &__top {
      max-width: 380px;
      padding-bottom: 30px;
    }

    &__list-item {
      & + & {
        margin-top: 27px;
      }
    }

    &__column + &__column {
      margin-top: 45px;
    }

    &__messenger {
      padding-left: 40px;

      &_instagram::before {
        width: 26px;
        height: 26px;
      }

      &_vkontakte::before {
        width: 26px;
        height: 23px;
      }
    }

    &__copy {
      padding-top: 30px;
    }

    &__copy-link {
      & + & {
        margin-top: 30px;
      }
    }

    &__copy-text {
      line-height: 19px;
      margin-top: 30px;
    }
  }

  .modal {
    padding: 15px 13px;

    &__box {
      padding: 25px 13px;
    }

    &__title {
      font-size: 18px;
      line-height: 21px;
      max-width: 320px;
      margin-bottom: 25px;

      &_thanks {
        margin-bottom: 15px;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 12px;
    }

    &__messenger {
      font-size: 16px;
      line-height: 19px;
      padding-left: 40px;

      &_instagram::before {
        width: 26px;
        height: 26px;
      }

      &_vkontakte::before {
        width: 26px;
        height: 23px;
      }
    }

    &__thanks-img {
      margin-bottom: 60px;

      img {
        width: 125px;
      }
    }

    &__phone {
      font-size: 16px;
      line-height: 19px;
    }

    &__checkbox {
      max-width: 342px;
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }

    &__input {
      & + & {
        margin-top: 20px;
      }
    }

    &__btn {
      margin-top: 20px;
      font-size: 14px;
      line-height: 17px;
      padding: 13px 40px;
    }
  }

  .modal-input {
    &__label {
      margin-bottom: 5px;
    }

    &__field {
      padding: 10px 40px 10px 15px;
    }
  }

  .modal-checkbox {
    &__label {
      font-size: 14px;
      line-height: 17px;
    }

    &__field {
      width: 20px;
      height: 20px;
    }
  }

  .coaches {
    padding: 32px 0;

    &__title {
      margin-bottom: 16px;
    }

    &__slide-inner {
      padding-top: 77px;
    }

    &__poster {
      width: 150px;
      height: 150px;

      img {
        top: 6px;
        left: -44px;
        width: 215px;
        height: 320px;
      }
    }

    &__content {
      padding: 80px 20px 16px;
    }

    &__name {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 16px;
    }

    &__content-body {
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.04em;

      p.subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 22px;
      }

      & *:nth-child(n + 2) {
        display: none;
      }

      &.full * {
        display: block;
      }
    }
    
    &__more {
      display: inline-block;
      
      &.hide {
        display: none;
      }
    }

    &__arrows {
      margin-top: 16px;
    }

    &__arrow {
      width: calc(50% - .5px);
      font-size: 14px;
      line-height: 22px;
      font-weight: 300;
      height: 44px;
    }

    &__btn {
      margin-top: 16px;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.08em;
      padding: 16px;
    }
  }

  .map {
    padding: 32px 0;

    &__title {
      margin-bottom: 37px;
    }

    &__bar {
      width: 262px;

      & + & {
        margin-top: 32px;
      }
    }

    &__bar-link {
      font-size: 16px;
      line-height: 16px;
    }

    &__bar-taxi {
      .ya-taxi-widget {
        width: 262px;
      }
    }
  }
}

@media (max-width: 380px) {
  .footer {
    &__column {
      &:nth-child(2),
      &:nth-child(3) {
        width: 100%;
      }

      &:nth-child(3) {
        margin-left: 0;
        margin-top: 27px;
      }
    }

    &__list {
      align-items: center;
    }

    &__messengers {
      flex-direction: column;
      align-items: center;

      &-item + &-item {
        margin-left: 0;
        margin-top: 32px;
      }
    }
  }
}