@import './fonts';
@import './vars';
@import "./animations";
@import './global';

.header {
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0e111a 0%, #121213 100%);
  padding: 55px 0 60px;
  color: #fff;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url('../img/smoke.png');
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/black-sport.png");
  z-index: 1;
  animation: fadeIn;
  animation-delay: .5s;
}

.header__inner {
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 30px;
  z-index: 10;
  background: #181818;
  max-width: 320px;
  width: 100%;
  transform: translateX(-101%);
  transition: transform .3s ease;

  &.show {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item + &__item {
    margin-top: 35px;
  }

  &__link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    letter-spacing: 0.08em;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: #348be0;
      transition: width .2s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.menu-close {
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-bottom: 40px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    width: 3px;
    height: 37px;
    border-radius: 5px;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  max-height: 100%;
  padding: 20px 30px;
  z-index: 10;
  background: #181818;
  max-width: 320px;
  width: 100%;
  transform: translateX(101%);
  transition: transform .3s ease;
  overflow: auto;
  display: none;

  &.show {
    transform: translateX(0);
  }

  &__content {
    max-width: 240px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    font-weight: 300;
  }

  .menu-close {
    margin-left: auto;
    margin-bottom: 49px;
  }

  &__row {
    border-top: 1px solid #3F3F41;
    padding: 16px 0;

    &_locale {
      padding-top: 43px;
      padding-bottom: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .locale {
    &__value {
      font-weight: 300;
      margin-left: 14px;
    }

    &__swiper {
      margin-left: 0;
    }
  }

  &__item {
    a {
      color: #ffffff;
      transition: color .1s ease;
    }

    a:hover {
      color: #348be0;
    }

    & + & {
      margin-top: 35px;
    }
  }

  &__messenger {
    text-transform: uppercase;
  }

  &__address {
    text-decoration: underline;
  }
}

.menu-btn {
  display: flex;
  align-items: center;
}

.menu-btn__btn {
  width: 40px;
  margin-right: 10px;
}

.menu-btn__btn div {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: width .1s ease;
}

.menu-btn__btn div + div {
  margin-top: 5px;
}

.menu-btn__btn div:nth-child(2) {
  width: 32px;
}

.menu-btn:hover .menu-btn__btn div:nth-child(2) {
  width: 40px;
}

.menu-btn__text {
  font-size: 18px;
  line-height: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.mobile-btn {
  width: 48px;
  display: none;
  flex-direction: column;
  align-items: flex-end;

  div {
    height: 4px;
    border-radius: 5px;
    background: #fff;

    & + div {
      margin-top: 5px;
    }

    &:nth-child(1) {
      width: 100%;
    }

    &:nth-child(2) {
      width: 38px;
    }

    &:nth-child(3) {
      width: 28px;
    }
  }
}

.header .logo {
  margin-left: 320px;
}

.logo {
  display: flex;
}

.logo img {
  max-width: 162px;
  height: 65px;
}

.header__top-phone {
  font-size: 18px;
  line-height: 15px;
  color: #fff;
  position: relative;
  padding-left: 43px;
}

.header__top-phone::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/phone.svg");
}

.header__top-phone:hover::before {
  animation: rotate .3s ease;
}

.header__top-auth {
  border: 2px solid #1089ff;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  padding: 19px 25px;
  margin-left: 30px;
  position: relative;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: calc(100% + 4px);
    background-color: #1089ff;
    transition: width .3s ease;
    border-radius: inherit;
  }

  &:hover::before {
    width: calc(100% + 4px);
  }
}

.header__content {
  align-self: center;
  padding: 0 45px;
}

.header__title {
  display: flex;
  font-size: 60px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 175px;
  font-weight: 600;
}

.header__title span {
  color: #1089ff;
}

.header__title-column:first-child {
  animation: fadeInLeft;
}

.header__title-column:last-child {
  animation: fadeInRight;
}

.header__title-column {
  animation-delay: 1.5s !important;
}

.header__title-column + .header__title-column {
  margin-left: 175px;
}

.header__content-btn {
  padding: 24px 31px;
  display: block;
  margin: 0 auto;
  opacity: 0;
}

.header__footer {
  align-self: flex-end;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__addresses {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.header__addresses-item {
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  position: relative;
  padding-left: 42px;
  color: #ffffff;

  span {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 1px;
      width: 0;
      background: #348be0;
      transition: width .4s ease;
    }
  }

  &:hover span::before {
    width: 100%;
  }
}

.header__addresses-item::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/map-icon.svg");
}

.header__addresses-item + .header__addresses-item {
  margin-top: 27px;
}

.header__socials {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}


.header__content-btn,
.header__footer,
.mobile-menu,
.menu,
.header__top,
.header__socials {
  animation: fadeIn;
  animation-delay: 2.5s !important;
}

.header__footer,
.header__top,
.header__content-btn,
.header__title-column,
.header__bg,
.mobile-menu,
.menu,
.header__socials {
  opacity: 0;
  animation-duration: 1s !important;
  animation-fill-mode: forwards !important;
}

.header__socials-item {
  padding-top: 115px;
  position: relative;
}

.header__socials-item + .header__socials-item {
  margin-top: 30px;
}

.header__socials-icon {
  will-change: transform;
  display: flex;
}

.header__socials-item:hover .header__socials-icon {
  animation: rotate .3s ease;
}

.header__socials-name {
  position: absolute;
  top: 105px;
  left: 11px;
  width: 0;
  height: 0;
  white-space: nowrap;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  transform: rotate(-90deg);
}

.locale {
  display: flex;
  align-items: center;
  color: #ffffff;

  &__value {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 15px;
  }

  &__swiper {
    width: 18px;
    height: 28px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    margin-left: 6px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      left: 0px;
      right: 0;
      top: 2px;
      width: 10px;
      height: 10px;
      background: #1089FF;
      border-radius: 50%;
    }
  }

  &.active &__swiper::before {
    top: auto;
    bottom: 2px;
  }
}

.title {
  font-size: 35px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #2f343a;
  font-weight: 600;
}

.subscription {
  padding: 120px 0;
  background: #eff3f9;
}

.subscription__title {
  margin-bottom: 60px;
}

.subscription__inner {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 440px));
  gap: 40px 90px;
  justify-content: center;
}

.subscription__item {
  background: #fff;
  box-shadow: 0px 7.13714px 14.2743px rgba(0, 0, 0, 0.04),
  0px 1.42743px 4.28228px rgba(0, 0, 0, 0.04),
  0px 0px 0.713714px rgba(0, 0, 0, 0.04);
  min-height: 753px;
  display: flex;
  flex-direction: column;
}

.subscription__item-head {
  min-height: 280px;
  padding: 30px;
  color: #fff;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription__item-head::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
                  0.69deg,
                  #242935 -14.72%,
                  rgba(36, 41, 53, 0.36) 164.72%
  );
}

.subscription__item-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.subscription__item-time {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  padding: 11.5px 18.5px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.subscription__item:nth-child(1) .subscription__item-time {
  background: linear-gradient(90deg, #2f2d49 2.86%, #1089ff 99.63%);
}

.subscription__item:nth-child(2) .subscription__item-time {
  background: linear-gradient(90deg, #9a329b 0%, #1089ff 73.61%);
}

.subscription__item:nth-child(3) .subscription__item-time {
  background: linear-gradient(
                  90.12deg,
                  #ff0000 0.11%,
                  #5d50f9 52.44%,
                  #1089ff 99.79%
  );
}

.subscription__item-price {
  font-size: 81px;
  line-height: 70px;
}

.subscription__item-price span {
  font-size: 32px;
  line-height: 28px;
}

.subscription__item-body {
  padding: 34px 16px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.subscription__item-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.08em;
  color: #2f343a;
  position: relative;
  padding-left: 12px;
  padding-bottom: 16px;
  margin-bottom: 48px;
}

.subscription__item-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
                  90deg,
                  #bdc6cf 3.64%,
                  rgba(189, 198, 207, 0) 101.93%
  );
}

.subscription__item-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.subscription__item-point {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #2f343a;
  padding-left: 54px;
  position: relative;
}

.subscription__item-point::before {
  content: "";
  position: absolute;
  margin: auto;
  top: calc(50% - 5px);
  left: 0;
  width: 25px;
  height: 25px;
  background: #5d50f9;
  transform: rotate(45deg) translateY(-50%);
}

.subscription__item-point + .subscription__item-point {
  margin-top: 40px;
}

.subscription__item-btn {
  padding: 24px 24px 20px;
  margin-top: auto;
}

.trial {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/trial-bg.jpg");
  color: #fff;
}

.trial__inner {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

.trial__title {
  color: #fff;
  letter-spacing: 0.16em;
  margin-bottom: 40px;
}

.trial__title span {
  color: #1089ff;
}

.trial__text {
  line-height: 32px;
  letter-spacing: 0.16em;
  max-width: 590px;
  margin: 0 auto 80px;
  text-align: center;
  font-weight: 300;
}

.trial__form {
  width: 100%;
}

.trial__form-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(416px, 416px));
  gap: 30px 64px;
  justify-content: center;
  margin-bottom: 64px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper::after {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 18px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #1089FF;
  background-image: url('../img/success-arrow.svg');
  background-repeat: no-repeat;
  background-size: 15px 11px;
  background-position: center;
  display: none;
}

.input-wrapper::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input-name::before {
  width: 24px;
  height: 24px;
  background-image: url("../img/input-name.svg");
}

.input-phone::before {
  width: 20px;
  height: 20px;
  background-image: url("../img/input-phone.svg");
}

.input-address::before {
  width: 18px;
  height: 22px;
  background-image: url("../img/input-map.svg");
}

.input {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.16em;
  color: #ffffff;
  background: rgba(16, 137, 255, 0.15);
  border: 1px solid #1089ff;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
  width: 100%;
  padding: 15px 60px;
}

.input::placeholder {
  color: #fff;
}

.input:focus::placeholder {
  font-size: 0;
}

.input:focus {
  box-shadow: inset 0px 0px 17px #1089ff;
}

.input-wrapper.error .input {
  background: rgba(255, 50, 52, 0.15);
  border: 1px solid #FF3234;
}

.input-wrapper.error .input:focus {
  box-shadow: inset 0px 0px 17px #FF3234;
}

.input-wrapper.success::after {
  display: block;
}

.trial__btn {
  padding: 28px 43px 24px;
  margin: 0 auto;
  display: block;
}

.advantages {
  background: #eff3f9;
  padding-top: 106px;
  position: relative;
  overflow: hidden;
}

.advantages::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 32.2%;
  background: linear-gradient(197.03deg, #242935 -0.13%, #131417 100.23%);
}

.advantages__box {
  position: relative;
  z-index: 1;
}

.advantages__inner {
  max-width: 1570px;
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding-top: 185px;
  counter-reset: advan;
}

.advantages__list-item {
  padding-left: 200px;
  position: relative;
}

.advantages__list-item::before {
  counter-increment: advan;
  content: counter(advan);
  font-weight: 300;
  font-size: 36px;
  line-height: 31px;
  color: #fff;
  width: 142px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.advantages__list-item + .advantages__list-item {
  margin-top: 90px;
}

.advantages__list-content {
  color: #181818;
  max-width: 451px;
}

.advantages__list-content::before,
.advantages__list-content::after {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transform: rotate(45deg);
}

.advantages__list-content::before {
  width: 94px;
  height: 94px;
  left: 24px;
  background: #0B0B10;
  border: 6px solid #eff3f9;
  z-index: 1;
}

.advantages__list-content::after {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, #E20002 0%, #1089FF 100%);
  left: 21px;
}

.advantages__list-title {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.08em;
  margin-bottom: 15px;
}

.advantages__list-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.08em;
}

.advantages__img {
  display: flex;
}

.coaches {
  padding-top: 100px;
  background: linear-gradient(271.77deg, #242935 1.24%, #131417 98.5%);

  &__title {
    color: #ffffff;
    margin-bottom: 10px;
  }

  &__slide {
    display: block !important;
    overflow: hidden;
  }

  &__slide-inner {
    min-height: 1000px;
    padding: 32px 0;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__socials {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -135px;
    max-width: 650px;
    width: 100%;
    height: 260px;
    padding-left: 135px;
    background: #EFF3F9;
    box-shadow: 0px 0px 20px rgba(239, 243, 249, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__socials-item {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #181818;
    position: relative;
    padding-left: 42px;
    z-index: 1;

    & + & {
      margin-top: 35px;
    }

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:hover::before {
      animation: rotate .3s ease;
    }

    &_instagram::before {
      width: 34px;
      height: 34px;
      background-image: url('../img/instagram-black.svg');
    }

    &_vkontakte::before {
      width: 34px;
      height: 30px;
      background-image: url('../img/vkontakte-black.svg');
    }
  }

  &__poster {
    position: absolute;
    bottom: -86px;
    left: 85px;

    img {
      width: 732px;
      height: 1094px;
      object-fit: contain;
    }
  }

  &__content {
    width: 510px;
    background: #EFF3F9;
    border-radius: 4px;
    filter: drop-shadow(0px 0px 20px rgba(239, 243, 249, 0.55));
    padding: 45px 35px;
    margin-left: auto;
    margin-right: 90px;
  }

  &__name {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.08em;
    color: #181818;
    margin-bottom: 24px;
  }

  &__content-body {
    font-size: 18px;
    line-height: 29px;
    font-weight: 200;
    letter-spacing: 0.08em;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 16px;
    }

    p.subtitle {
      color: #000000;
      margin-top: 24px;
      margin-bottom: 8px;
      font-weight: 300;
    }

    p.subtitle + p {
      margin-top: 0;
    }
  }

  &__more {
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #181818;
    border-bottom: 1px solid #181818;
    display: none;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__arrow {
    width: calc(50% - 1px);
    background: #C9DBF7;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.08em;
    color: #23374D;
    font-weight: 600;
    height: 57px;
    position: relative;
    overflow: hidden;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: transform .3s ease;
    }

    &:hover::before {
      transform: translateX(0) !important;
    }

    &-prev {
      border-radius: 4px 0 0 4px;

      &::before {
        background: linear-gradient(270deg, #C9DBF7 0%, #1089FF 146.61%);
        transform: translateX(-101%);
      }
    }

    &-next {
      border-radius: 0 4px 4px 0;

      &::before {
        transform: translateX(101%);
        background: linear-gradient(270deg, #1089FF -42.34%, #C9DBF7 98.2%);
      }
    }

    &:disabled {
      background: #C9DBF7;
      color: #6c6c6c;
      cursor: default;

      &::before {
        display: none;
      }
    }
  }

  &__btn {
    padding: 17px;
    width: 100%;
    margin-top: 24px;
    line-height: 23px;
  }

}

.footer {
  padding: 48px 0 35px;
  background: linear-gradient(180deg, #242935 0%, #131417 100%), #EFF3F9;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.06em;

  &__top {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding-top: 22px;
    padding-bottom: 70px;

    a {
      color: #ffffff;
    }
  }

  .logo {
    margin-top: -22px;
  }

  &__list,
  &__messengers {
    display: flex;
    flex-direction: column;
  }

  &__list-item + &__list-item {
    margin-top: 48px;
  }

  &__list-link {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 1px;
      width: 0;
      background: #348be0;
      transition: width .2s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__messengers-item {
    & + & {
      margin-top: 50px;
    }
  }

  &__messenger {
    text-transform: uppercase;
    position: relative;
    padding-left: 50px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:hover::before {
      animation: rotate .3s ease;
    }

    &_instagram::before {
      width: 34px;
      height: 34px;
      background-image: url('../img/instagram.svg');
    }

    &_vkontakte::before {
      width: 34px;
      height: 30px;
      background-image: url('../img/vkontakte.svg');
    }
  }

  &__phone {
    transition: color .1s ease;

    &:hover {
      color: #348be0;
    }
  }

  &__copy {
    padding-top: 35px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #3F3F41;

    &,
    & a {
      color: #727272;
    }

    &-link {
      transition: color .1s ease;

      &:hover {
        color: #ccc;
      }

      & + & {
        margin-left: 70px;
      }
    }

    &-text {
      line-height: 21px;
    }
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  padding: 15px 25px;
  font-family: 'Roboto';
  font-weight: 400;
  opacity: 0;
  transition: opacity .3s ease;

  &.show {
    opacity: 1;
  }

  &__inner {
    max-height: 100%;
    overflow-y: auto;
    max-width: 610px;
    width: 100%;
  }

  &__box {
    width: 100%;
    background: #eeeeee;
    display: flex;
    align-items: center;
    padding: 45px;
    min-height: 764px;
  }

  &__body {
    width: 100%;
    opacity: 1;
    transition: opacity .3s ease;

    &.off {
      opacity: 0;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;

    &_thanks {
      margin-bottom: 20px;
    }
  }

  &__thanks-img {
    text-align: center;
    margin: 50px 0 90px;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__socials-item {
    & + & {
      margin-top: 25px;
    }
  }

  &__messenger {
    text-transform: uppercase;
    position: relative;
    padding-left: 50px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:hover::before {
      animation: rotate .3s ease;
    }

    &_instagram::before {
      width: 34px;
      height: 34px;
      background-image: url('../img/instagram-black.svg');
    }

    &_vkontakte::before {
      width: 34px;
      height: 30px;
      background-image: url('../img/vkontakte-black.svg');
    }
  }

  &__phone {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    transition: color .1s ease;

    &:hover {
      color: #5d50f9;
    }
  }
  
  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }

  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    & + & {
      margin-top: 35px;
    }
  }

  &__checkbox {
    margin-top: 45px;
    margin-left: 25px;
  }

  &__btn {
    margin-top: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #ffffff;
    padding: 18px 55px;
    background: #5D50F9;
  }
}

.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 342px;
  width: 100%;

  &__label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  &__wrapper {
    width: 100%;

    &::after {
      border: 1px solid #000;
    }
  }

  &__field {
    width: 100%;
    border: 2px solid #000;
    padding: 18px 60px 18px 18px;
    font-size: 14px;
    line-height: 16px;

    &::placeholder {
      color: #8a8a8a;
    }
  }

  &__wrapper.error &__field {
    border: 2px solid #FF3234;
  }
}

.modal-checkbox {
  display: flex;
  align-items: center;
  user-select: none;

  &__input {
    display: none;
  }

  &__field {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #000000;

    &.checked {
      border: 2px solid #5D50F9;
      background: #5D50F9;
    }

    &.error {
      border: 2px solid #FF3234;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 19px;
    margin-left: 13px;

    a {
      color: #2400ff;
      text-decoration: underline;
    }
  }
}

#map {
  height: 850px;
}

.map {
  position: relative;

  &__info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__open {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    background: linear-gradient(180deg, #242935 0%, #131417 100%);
    border-radius: 0px 12px 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    path {
      transition: stroke .1s ease;
    }

    &:hover path {
      stroke: #ffffff;
    }
  }

  &__content {
    width: 575px;
    background: linear-gradient(180deg, #242935 0%, #131417 100%);
    border-radius: 0 4px 4px 0;
    padding: 60px 0 42px 140px;
    color: #ffffff;
    position: relative;
    z-index: 2;
    transform: translateX(0);
    transition: transform .5s ease;

    &.hide {
      transform: translateX(-101%);
    }
  }

  &__close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 17px;
    right: 17px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 2px;
      height: 19px;
      background-color: #919399;
      transition: background-color .1s ease;
      border-radius: 4px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: #fff;
    }
  }

  &__address {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-bottom: 40px;
    border-bottom: 2px solid #3F3F41;
    margin-bottom: 40px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__address-item {
    position: relative;
    padding-left: 36px;
    padding-right: 40px;
    color: #ffffff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::before {
      width: 28px;
      height: 28px;
      left: 0;
      background-image: url('../img/map.svg');
    }

    &::after {
      width: 24px;
      height: 14px;
      right: 0;
      background-image: url('../img/right-arrow.svg');
      transition: right .1s ease;
    }

    &:hover::after {
      right: -5px;
    }

    & + & {
      margin-top: 50px;
    }
  }

  &__order-title {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.08em;
    max-width: 300px;
  }

  &__order-inner {
    position: relative;
    margin-top: 19px;
  }

  &__order-btn {
    position: relative;
    width: 262px;
    padding: 17px 23px 17px 65px;
    background-color: #fff;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    transition: background-color .2s ease;
    
    &:hover {
      background-color: #e2e2e2;
    }

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 14px;
      width: 37px;
      height: 37px;
      background-image: url('../img/ya-go.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__order-list {
    position: absolute;
    top: -1px;
    width: 100%;
    left: 0;
    width: 262px;
    background: #131417;
    display: none;
  }

  &__order-item {
    & + & {
      margin-top: 15px;
    }
  }
  
  &__bars {
    display: none;
  }

  .ymaps-2-1-78-zoom__scale,
  .ymaps-2-1-78-gototech,
  .ymaps-2-1-78-copyright,
  .ymaps-2-1-78-searchbox {
    display: none;
  }

  .ymaps-2-1-78-controls__toolbar {
    margin-top: 0 !important;
    inset: 465px 15px auto auto;
  }

  .ymaps-2-1-78-controls__toolbar_right {
    display: none;
  }

  .ymaps-2-1-78-controls__toolbar_left {
    float: right;
  }

  .ymaps-2-1-78-controls__control_toolbar {
    margin-left: 0 !important;

    .ymaps-2-1-78-float-button {
      position: static !important;
      background-color: #1E212A;
      box-shadow: none;
      border: none;
      border-radius: 6px;
      width: 60px;
      height: 60px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color .1s ease;

      &:hover {
        background-color: #2e333e;
      }

      .ymaps-2-1-78-float-button-icon_icon_geolocation {
        width: 27px;
        height: 27px;
        position: static;
        background-image: url('../img/geolocation.svg');
        background-size: contain;
      }
    }
  }

  .ymaps-2-1-78-controls__control {
    inset: 328px 15px auto auto !important;
  }

  .ymaps-2-1-78-zoom {
    width: 60px;
    padding: 0;
    height: 120px !important;
  }

  .ymaps-2-1-78-zoom__button {
    position: static !important;
    background-color: #1E212A;
    box-shadow: none;
    border: none;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .1s ease;

    &:hover {
      background-color: #2e333e;
    }

    .ymaps-2-1-78-zoom__icon {
      width: 34px;
      height: 34px;
      position: static;
      background-size: contain;
    }
  }

  .ymaps-2-1-78-zoom__plus {
    border-radius: 6px 6px 0 0;

    & .ymaps-2-1-78-zoom__icon {
      background-image: url('../img/plus.svg');
    }
  }

  .ymaps-2-1-78-zoom__minus {
    border-radius: 0 0 6px 6px;

    & .ymaps-2-1-78-zoom__icon {
      background-image: url('../img/minus.svg');
    }
  }
}

.map .ya-taxi-widget {
  width: 262px;

  &__content {
    padding: 8px 23px 8px 65px !important;
    min-height: 55px !important;

    &::before {
      border-radius: 0px !important;
      background: #3D3D3D !important;
      transition: opacity .2s ease !important;
    }

    &:hover::before {
      opacity: .9 !important;
    }
  }

  &__info-icon {
    border-radius: 0 0 0 5px !important;
  }

  &__title {
    overflow: visible !important;
    white-space: normal !important;
    font-size: 18px !important;
    line-height: 23px !important;
    font-weight: 300;
    font-family: "CodecPro";
  }
}

.module {
  display: none;
}

@import './media';
